
@{
	ViewData["Title"] = "AdminLister";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}
@model IEnumerable<HiSpaceListingService.ViewModel.AdminUserListResponse>

	<div class="listingtable nav-padding">
		<div class="bg-light mb-4">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="@Url.Action("Index", "Website")"> <i class="fas fa-home"></i> </a></li>

							<li class="breadcrumb-item "> <i class="fas fa-chevron-right"></i> <span>Dashboard</span></li>
							<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>HiSpace-User List</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<section class="">
			<div class="container p-0">
				<div class="row no-gutters">
					<div class="col-md-12">
						<div class="section-title d-flex align-items-center m--tb-15">
							<h2>HiSpace-User Table</h2>
						</div>
						<div class="card hi-card">
							<div class="card-body">
								<div class="datatable-wrapper table-responsive">
									<a href="@Url.Action( "ListerCreate","Admin")">
										<div id="show_add_view" class="add-new tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to add new HiSpace-User">
											<i class="fa fa-plus-circle"></i> Add
										</div>
									</a>

									<table id="hispaceUser" class="display display compact table table-striped mdtable">
										<thead>
											<tr>
												<th>Hs-User ID</th>
												<th>Hs-User Name</th>
												<th>Phone</th>
												<th>Email</th>
												<th>User Information</th>
												<th>Listed Properties</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												@if (item.User.UserId > 0)
												{
											<tr>
												<td>@Html.DisplayFor(modelItem => item.User.UserId)</td>
												<td>@Html.DisplayFor(modelItem => item.User.CompanyName)</td>
												<td>@Html.DisplayFor(modelItem => item.User.Phone)</td>
												<td>@Html.DisplayFor(modelItem => item.User.Email)</td>
												@if (item.User.UserState == "Basic")
												{
													<td class="text-pry font-weight-bold">@Html.DisplayFor(modelItem => item.User.UserState)</td>
												}
												else if (item.User.UserState == "Advance")
												{
													<td class="text-sec font-weight-bold">@Html.DisplayFor(modelItem => item.User.UserState)</td>
												}
												else if(item.User.UserState == "Guest")
												{
													<td class="text-info font-weight-bold">@Html.DisplayFor(modelItem => item.User.UserState)</td>
												}
												else
												{
													<td class="text-pry font-weight-bold">@Html.DisplayFor(modelItem => item.User.UserState)</td>
												}
												
												@if (item.User.UserType == 1)
												{
												<td class="p-0">
													<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
														<span>
															
																@if (item.TotalProperties != 0)
																{
																	<a href="@Url.Action("AdminPropertyList", "Admin", new { UserID = item.User.UserId, UserType = item.User.UserType })" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to view the listed property/Professional">
																<i class="fas fa-list btn-icon text-try"></i>
																</a>
																	<span class="status-alert status-alert__images">
																		@item.TotalProperties
																	</span>
																}
																else
																{
																	<a href="javascript:function() { return false; }" class="tooltip-wrapper menu__inactive" data-toggle="tooltip" data-placement="top" title="" data-original-title="No properties/Professional listed">
																<i class="fas fa-list btn-icon text-try"></i>
																</a>
																	<span class="status-alert status-alert__empty menu__inactive">
																		@item.TotalProperties
																	</span>
																}
															
														</span>
													</div>
												</td>

												}
												else
												{
													<td>---</td>
												}
												@*@{var AdminStatusvalue = @item.User.AdminStatus.ToString(); }*@
												@*<td>@item.User.AdminStatus.ToString()</td>*@
												@if (@item.User.Status.ToString() == "True")
												{
													<td class="p-0">
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
															<a onclick="return adminLevelUserCheck(0);" href="@Url.Action("AdminLevelUserApprove", "User", new { UserId = item.User.UserId, Status = false })" class="tooltip-wrapper text-sec" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to block the user">
																<i class="fas btn-icon fa-check-circle text-sec"></i> Active
															</a>
														</div>
													</td>
												}
												else
												{
													<td class="p-0">
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
															<a onclick="return adminLevelUserCheck(1);" href="@Url.Action("AdminLevelUserApprove", "User", new { UserId = item.User.UserId, Status = true})" class="tooltip-wrapper text-pry" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to activate the user">
																
																<i class="fas btn-icon fa-times-circle text-pry"></i> Block
															</a>
														</div>
													</td>
												}
												@if (item.User.UserType == 1)
												{
												<td class="p-0">
													<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
														<a href="@Url.Action("ListingTable", "Listing", new { UserID = item.User.UserId, UserType = item.User.UserType })" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or View">
															<i class="fas fa-edit btn-icon text-warning"></i>
														</a>
														@*<a href="/" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
															<i class="fas fa-trash-alt btn-icon text-danger"></i>
														</a>*@
													</div>
												</td>
												}
												else { 
												<td>---</td>
												}
											</tr>
													}
												}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
