
@{
	ViewData["Title"] = "AdminPropertyList";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.UserMasterViewModel
}


<div class="listingtable admin-property__listing nav-padding">
		<div class="bg-light mb-4">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="@Url.Action( "Index","Website")"> <i class="fas fa-home"></i> </a></li>
								<li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <span>Dashboard</span></li>
								<li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="@Url.Action("AdminLister", "Admin")"><span>User Details/Listing</span></a></li>
								<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Property/Space/Professional Listing</span></li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>

		@if (@Model.ListingList.Count() > 0)
		{
			<section class="">
				<div class="container p-0">
					<div class="row no-gutters">
						<div class="col-md-12">
							<div class="section-title d-flex align-items-center m--tb-15">
								<h2>HiSpace-User Property/Space/Professional Listing</h2>
							</div>
							<div class="card hi-card">
								<div class="card-body">
									<div class="datatable-wrapper table-responsive">

										<table id="listingTable" class="display display compact table table-striped mdtable">
											<thead>
												<tr>
													<th>Name</th>
													<th>Type</th>
													<th>For</th>
													<th>City</th>
													<th><i class="fas fa-business-time"></i> Hours</th>
													<th><i class="fas fa-images"></i> Images</th>
													<th><i class="fab fa-gratipay"></i> Addons</th>
													<th>User Status</th>
													<th>Verification</th>
													<th><i class="fas fa-leaf"></i> Eco-Friendly</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in Model.ListingList)
												{

													//Verification
													@if (item.Listings.Status.ToString() == "True")
													{
														ViewBag.UserStatus = @Html.Raw("<span class='text-success font-weight-bold'>Active</span>");
													}
													else
													{
														ViewBag.UserStatus = @Html.Raw("<span class='text-danger font-weight-bold'>In Active</span>");
													}
													//checking the type and addons
													@if (item.Listings.ListingType == "Commercial")
													{
														ViewBag.TypeClass = "text-pry";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
												"<span>" +
													"<a href='javascript:function() { return false; }'>" +
														"<i class='fas fa-wifi btn-icon text-primary'></i>" +
													"</a>" +
													"<span class='status-alert status-alert__amenities'>" +
																				  @item.TotalAmenities +
																				  "</span>" +
												"</span>" +
									"<span >" +
										"<a href='javascript:function() { return false; }'>" +
											"<i class='fas fa-bus btn-icon text-sec'></i>" +
										"</a>" +
										 "<span class='status-alert status-alert__facilities'>" +
																				  @item.TotalFacilities +
																				  "</span>" +
									"</span>" +
									"</div>");
														ViewBag.Eco = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
												"<span>" +
													"<a href='javascript:function() { return false; }' >" +
														"<i class='fas fa-temperature-low btn-icon text-sec'></i>" +
													"</a>" +
													 "<span class='status-alert__hc' status-check="+@item.TotalHealthCheck+">" +
												"<i class='fas fa-smile'></i>" +
																				  "</span>" +
												"</span>" +
									"<span>" +
										"<a href='javascript:function() { return false; }'>" +
											"<i class='fas fa-tree btn-icon text-info'></i>" +
										"</a>" +
										"<span class='status-alert__gbc' status-check=" + @item.TotalGreenBuildingCheck + ">" +
												"<i class='fas fa-bell'></i>" +
																				  "</span>" +
									"</span>" +
									"</div>");
													}
													else if (item.Listings.ListingType == "Co-Working")
													{
														ViewBag.TypeClass = "text-sec";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
																			  "<span>" +
																				  "<a href='javascript:function() { return false; }' >" +
																					  "<i class='fas fa-wifi btn-icon text-primary'></i>" +
																				  "</a>" +
																				  "<span class='status-alert status-alert__amenities'>" +
																				  @item.TotalAmenities +
																				  "</span>" +
												"</span>" +
																			  "</span>" +
																  "<span>" +
																	  "<a href='javascript:function() { return false; }' >" +
																		  "<i class='fas fa-bus btn-icon text-sec'></i>" +
																	  "</a>" +
																	  "<span class='status-alert status-alert__facilities' >" +
																				  @item.TotalFacilities +
																				  "</span>" +
																  "</span>" +
															  "</div>");
														ViewBag.Eco = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
												"<span>" +
													"<a href='javascript:function() { return false; }'>" +
														"<i class='fas fa-temperature-low btn-icon text-sec'></i>" +
													"</a>" +
													 "<span class='status-alert__hc' status-check=" + @item.TotalHealthCheck + ">" +
												"<i class='fas fa-smile'></i>" +
																				  "</span>" +
												"</span>" +
									"<span>" +
										"<a href='javascript:function() { return false; }'>" +
											"<i class='fas fa-tree btn-icon text-info'></i>" +
										"</a>" +
										"<span class='status-alert__gbc' status-check=" + @item.TotalGreenBuildingCheck + ">" +
												"<i class='fas fa-bell'></i>" +
																				  "</span>" +
									"</span>" +
									"</div>");
													}
													else if (item.Listings.ListingType == "RE-Professional")
													{
														ViewBag.TypeClass = "text-info";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
																			  "<span>" +
																				  "<a href='javascript:function() { return false; }' >" +
																					  "<i class='fas fa-city btn-icon text-info'></i>"+
																				  "</a>"+
																				  "<span class='status-alert status-alert__projects' >" +
																				  @item.TotalProjects+
																				  "</span>" +

												   "</span>" +
								   "</div>");
														ViewBag.Eco = @Html.Raw("---");
													}
												<tr>
													<td>
														@if (item.Listings.ListingType == "Commercial" || item.Listings.ListingType == "Co-Working")
														{
															@Html.DisplayFor(modelItem => item.Listings.Name)
														}
														else if (item.Listings.ListingType == "RE-Professional")
														{
															if (item.Listings.RE_FirstName == null && item.Listings.RE_LastName == null)
															{
																@section Scripts {
																	<script>
																		
																	</script>
																}
															}
															else
															{
																@Html.DisplayFor(modelItem => item.Listings.RE_FirstName)<span> </span>@Html.DisplayFor(modelItem => item.Listings.RE_LastName)
															}
														}

													</td>
													<td>
														<span class="font-weight-bold  @ViewBag.TypeClass">@Html.DisplayFor(modelItem => item.Listings.ListingType)</span>
													</td>
													<td class="text-center">
														@if (item.Listings.ListingType == "Commercial" || item.Listings.ListingType == "Co-Working")
														{
															<span class="font-weight-bold">@Html.DisplayFor(modelItem => item.Listings.CMCW_PropertyFor)</span>
														}
														else if (item.Listings.ListingType == "RE-Professional")
														{
													<span class="">---</span>
														}

													</td>
													@*<td>
														@Html.DisplayFor(modelItem => item.Listings.Phone)
													</td>*@
													<td>
														@Html.DisplayFor(modelItem => item.Listings.locality)
													</td>
													@*<td>
			@Html.DisplayFor(modelItem => item.Listings.CurrentOccupancy)
		</td>*@
												<td class="p-0 text-center">
													@if (item.Listings.CMCW_PropertyFor == "Rental" || item.Listings.ListingType == "RE-Professional")
													{
													<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
														<span>
															<a href="javascript:function() { return false; }" >
																<i class="fas fa-business-time btn-icon text-pry"></i>
															</a>
															@if (item.TotalWorkingHours != 0)
															{
																<span class="status-alert status-alert__hours">
																	<i class="fas fa-thumbs-up"></i>
																</span>
															}
															else
															{
																<span class="status-alert status-alert__empty">
																	<i class="fas fa-thumbs-down"></i>
																</span>
															}
														</span>
													</div>
													}
													else if (item.Listings.CMCW_PropertyFor == "Sale")
													{
														<span class="">---</span>
													}
													
												</td>
													<td class="p-0">
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
															<span>
																<a href="javascript:function() { return false; }">
																	<i class="fas fa-image btn-icon text-try"></i>
																</a>
																@if (item.TotalListingImages != 0)
																{
																	<span class="status-alert status-alert__images">
																		@item.TotalListingImages
																	</span>
																}
																else
																{
																	<span class="status-alert status-alert__empty">
																		@item.TotalListingImages
																	</span>
																}

															</span>

														</div>
													</td>
													<td class="p-0">
														@ViewBag.TypeAddons
													</td>
													@*<td>
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
															@ViewBag.ListStatus
														</div>
													</td>*@
													
													<td>
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
															@ViewBag.UserStatus
														</div>
													</td>
													<td class="p-0">
														@if (@item.Listings.AdminStatus.ToString() == "True")
														{
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu md-crud-menu__active">
															<a onclick="return adminLevelListCheck(0);" href="@Url.Action("AdminLevelListCheck", "Listing", new { ListingId = item.Listings.ListingId, Status = false, UserId = item.Listings.UserId, UserType = 1 })" class="tooltip-wrapper text-sec" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to unactivate the space/professional">
																<i class="fas btn-icon fa-check-circle text-sec"></i> Verified
															</a>
														</div>
														}
														else
														{													
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu md-crud-menu__active">
															<a onclick="return adminLevelListCheck(1);" href="@Url.Action("AdminLevelListCheck", "Listing", new { ListingId = item.Listings.ListingId, Status = true, UserId = item.Listings.UserId, UserType = 1})" class="tooltip-wrapper text-pry" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to activate the space/professional">
																
																<i class="fas btn-icon fa-times-circle text-pry"></i> Not Verified
															</a>
														</div>
													
														}
													</td>
													<td class="p-0 text-center">
														@ViewBag.Eco
													</td>
													<td class="p-0">
														<div class="ml-auto d-flex align-items-center text-center md-crud-menu md-crud-menu__active">
															<a href="@Url.Action("AdminPropertyDetail", "Admin", new { ListingID = item.Listings.ListingId})" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
																<i class="fas fa-eye btn-icon text-info"></i>
															</a>
														</div>
													</td>
												</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
						</div>
					</div>
				</div>
				
			</section>
		}
		</div>
