
@{
	ViewData["Title"] = "For Property, Operator, ReProfessionals and Investor";
	ViewData["canonical"] = "https://www.thehispace.com/";
	ViewData["robots"] = "index, follow, noarchive";
	ViewData["keywords"] = "Home For Property, Operator, ReProfessionals";
	ViewData["description"] = "Can Search all properties with commercial and coworking, search all operator and builders, search all real estate professionals for your project. More with the hispace investor";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
}
@{
	var error = "";
	if (TempData.ContainsKey("Error"))
	{
		error = TempData["Error"] as string;
	}

	var signup = "";
	if (TempData.ContainsKey("Signup"))
	{
		signup = TempData["Signup"] as string;
	}
}
@*Model to show error message*@
<!-- Modal -->
<div class="modal message fade" id="errorLogin" tabindex="-1" role="dialog" aria-labelledby="errorLoginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="errorLoginModalLabel">Login Error </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>@error</p>
			</div>
		</div>

	</div>
</div>
@*Model to show success message*@
<!-- Modal -->
<div class="modal message fade" id="sucessSignup" tabindex="-1" role="dialog" aria-labelledby="sucessSignupModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="sucessSignupModalLabel">Welcome To HiSpace </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 class="text-sec">Welcome</h4>
				<p>You are registered successfully</p>
				@*<a class="modal-link__login hover-signup" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><b>Click to <span class="text-sec bg-sec">Login</span></b></a>*@
				<p>We sent the <span class="text-sec font-weight-bold">verification link</span> to your mail.</p> 
				<p>Please login throught that link.</p>
			</div>
		</div>

	</div>
</div>

<div class="index">
	<!--=================================
	banner -->

	@if (error != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					//setTimeout(function(){ alert("Incorrect Email or Password"); }, 1000);
					//setTimeout(function () { alert('a') }, 2000);
					$('#errorLogin').modal('show');
				});
			</script>
		}
	}@if (signup != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					$('#sucessSignup').modal('show');
				});
			</script>
		}
	}
	@*<section class="position-relative">
			<div class="banner bg-holder bg-overlay-gradient-02" style="background-image: url(images/slider/05.jpg);">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-sm-12 col-md-5 col-xl-5 order-2 order-md-1">
							<div class="CTA-btn">
								<div class="slide-type">
									<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 1 })">
										<div class="slide-type__image">
											<span class="icon fab flaticon-apartment-1"></span>
										</div>
										<div class="slide-type_text texttype-1">
											Find or List Your Space
											<i class="fas fa-angle-double-right"></i>
										</div>

									</a>
								</div>
								<div class="slide-caption">
									Find or List your commercial properties or co-working spaces
								</div>
							</div>
							<div class="CTA-btn">
								<div class="slide-type">
									<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 2 })">
										<div class="slide-type__image">
											<span class="icon fab flaticon-building"></span>
										</div>
										<div class="slide-type_text texttype-2">
											Find an Owner or Operator
											<i class="fas fa-angle-double-right"></i>
										</div>
									</a>
								</div>
								<div class="slide-caption">
									You own properties or co-working spaces? List yourself
								</div>
							</div>
							<div class="CTA-btn">
								<div class="slide-type">
									<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 3 })">
										<div class="slide-type__image">
											<span class="icon fab flaticon-agent"></span>
										</div>
										<div class="slide-type_text texttype-3">
											Find a Business Partner
											<i class="fas fa-angle-double-right"></i>
										</div>
									</a>
								</div>
								<div class="slide-caption">
									Find a business partner to collaborate in your project
								</div>
							</div>



							</div>
						<div class="col-sm-12 col-md-7 col-xl-7 order-1 order-md-2">
							<h1 class="text-white mb-4 display-4 font-weight-bold slide-heading">Welcome to the Commercial Real Estate Community for the Next Generation Industry Evolution</h1>
		<div class="slide-btn">
				<div class="property-btn">
					<a class="property-link btn btn-sec modal-link__signup" data-targeturl="@Url.Action("SignupPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-hands-helping"></i> Join Now</a>
				</div>
				<div class="property-btn">
					<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-sign-in-alt"></i> Login</a>
				</div>
			</div>
		</div>
					</div>
				</div>
			</div>
		</section>*@

<section class="clearfix">
	<h1 class="display-none">Thehispace index page</h1>
	<div id="slider" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#slider" data-slide-to="0" class="active"></li>
			<li data-target="#slider" data-slide-to="1"></li>
			<li data-target="#slider" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="img-fluid" src="~/images/slider/05.jpg" alt="HiSpace_operator_properties">
				<div class="slider-content">
					<div class="container">
						<div class="row align-items-center space-pt--50">
							<div class="col-sm-12 col-md-5 col-xl-5 order-2 order-md-1">
								<div class="CTA-btn animated-06">
									<div class="slide-type">
										<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 1 })">
											<div class="slide-type__image">
												<span class="icon fab flaticon-apartment-1"></span>
											</div>
											<div class="slide-type_text texttype-1">
												Find or List Your Space
												<i class="fas fa-angle-double-right"></i>
											</div>

										</a>
									</div>
									<div class="slide-caption">
										Find or List your commercial properties or co-working spaces
									</div>
								</div>
								<div class="CTA-btn animated-06-1ms">
									<div class="slide-type">
										<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 2 })">
											<div class="slide-type__image">
												<span class="icon fab flaticon-building"></span>
											</div>
											<div class="slide-type_text texttype-2">
												Find an Owner or Operator
												<i class="fas fa-angle-double-right"></i>
											</div>
										</a>
									</div>
									<div class="slide-caption">
										You own properties or co-working spaces? List yourself
									</div>
								</div>
								<div class="CTA-btn animated-06-2ms">
									<div class="slide-type">
										<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 3 })">
											<div class="slide-type__image">
												<span class="icon fab flaticon-agent"></span>
											</div>
											<div class="slide-type_text texttype-3">
												Find a Business Partner
												<i class="fas fa-angle-double-right"></i>
											</div>
										</a>
									</div>
									<div class="slide-caption">
										Find a business partner to collaborate in your project
									</div>
								</div>



							</div>
							<div class="col-sm-12 col-md-7 col-xl-7 order-1 order-md-2">
								<h2 class="text-white mb-4 display-4 font-weight-bold slide-heading animated-07">Welcome to the Commercial Real Estate Community for the Next Generation Industry Evolution</h2>
								@*<div class="slide-btn">
										<div class="property-btn animated-08">
											<a class="property-link btn btn-sec modal-link__signup" data-targeturl="@Url.Action("SignupPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-hands-helping"></i> Join Now</a>
										</div>
										<div class="property-btn animated-08">
											<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-sign-in-alt"></i> Login</a>
										</div>
									</div>*@
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item slider-dark">
				<img class="img-fluid" src="~/images/slider/07.jpg" alt="HiSpace_investor_calculation">
				<div class="slider-content">
					<div class="container">
						<div class="row align-items-center space-pt--50">
							<div class="col-sm-12 col-md-5 col-xl-5 order-2 order-md-1">
								<div class="CTA-btn animated-06">
									<div class="slide-type">
										<a class="slide-type mb-0" href="@Url.Action( "CreateInvestor","Investor")">
											<div class="slide-type__image">
												<span class="icon fab">
													<i class="fas fa-hand-holding-usd"></i>
												</span>

											</div>
											<div class="slide-type_text texttype-1">
												Investor
												<i class="fas fa-angle-double-right"></i>
											</div>

										</a>
									</div>
									<div class="slide-caption">
										Find the best investment in commercial properties
									</div>
								</div>
								<div class="CTA-btn animated-06-1ms">
									<div class="slide-type">
										<a class="slide-type mb-0" href="@Url.Action( "InvestorReturns","Investor")">
											<div class="slide-type__image">
												<span class="icon fab">
													<i class="fas fa-chart-line"></i>
												</span>
											</div>
											<div class="slide-type_text texttype-2">
												Return Calculator
												<i class="fas fa-angle-double-right"></i>
											</div>
										</a>
									</div>
									<div class="slide-caption">
										Analysis your investment returns
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-7 col-xl-7 order-1 order-md-2">
								<h2 class="text-white mb-4 display-4 font-weight-bold slide-heading animated-07">Welcome to the Commercial Real Estate Investor Community</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item slider-dark slider-banner">
				<img class="img-fluid" src="~/images/slider/08.jpg" alt="Reprofessionals in hispace events">
				<div class="slider-content">
					<div class="container">
						<div class="row align-items-center space-pt--30">
							<div class="col-sm-12 col-md-5 col-xl-5">
								<div class="CTA-btn animated-06">
									<div class="slide-type">
										<a class="slide-type mb-0" href="https://www.hdsre.com/blog.html" target="_blank">
											<div class="slide-type__image">
												<span class="icon fab">
													<i class="fas fa-calendar-day"></i>
												</span>

											</div>
											<div class="slide-type_text texttype-1">
												Click to view the event
												<i class="fas fa-angle-double-right"></i>
											</div>

										</a>
									</div>
								</div>
							</div>
							@*<div class="col-sm-12 col-md-7 col-xl-7 order-1 order-md-2">
									<h1 class="mb-4 display-4 font-weight-bold slide-heading animated-07">Upcoming Event</h1>
								</div>*@
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-none d-md-block">
			<a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#slider" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>

	@*<section class="banner-bg-slider position-relative">
			<div id="bg-slider">
				<img src="~/images/slider/05.jpg" alt="">
				<img src="~/images/slider/02.jpg" alt="">
				<img src="~/images/slider/03.jpg" alt="">
			</div>
			<div class="banner-bg-slider-content">
				<div class="row align-items-center">
					<div class="col-sm-12 col-md-5 col-xl-5 order-2 order-md-1">
						<div class="CTA-btn">
							<div class="slide-type">
								<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 1 })">
									<div class="slide-type__image">
										<span class="icon fab flaticon-apartment-1"></span>
									</div>
									<div class="slide-type_text texttype-1">
										Find or List Your Space
										<i class="fas fa-angle-double-right"></i>
									</div>

								</a>
							</div>
							<div class="slide-caption">
								Find or List your commercial properties or co-working spaces
							</div>
						</div>
						<div class="CTA-btn">
							<div class="slide-type">
								<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 2 })">
									<div class="slide-type__image">
										<span class="icon fab flaticon-building"></span>
									</div>
									<div class="slide-type_text texttype-2">
										Find an Owner or Operator
										<i class="fas fa-angle-double-right"></i>
									</div>
								</a>
							</div>
							<div class="slide-caption">
								You own properties or co-working spaces? List yourself
							</div>
						</div>
						<div class="CTA-btn">
							<div class="slide-type">
								<a class="slide-type mb-0" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 3 })">
									<div class="slide-type__image">
										<span class="icon fab flaticon-agent"></span>
									</div>
									<div class="slide-type_text texttype-3">
										Find a Business Partner
										<i class="fas fa-angle-double-right"></i>
									</div>
								</a>
							</div>
							<div class="slide-caption">
								Find a business partner to collaborate in your project
							</div>
						</div>



					</div>
					<div class="col-sm-12 col-md-7 col-xl-7 order-1 order-md-2">
						<h1 class="text-white mb-4 display-4 font-weight-bold slide-heading">Welcome to the Commercial Real Estate Community for the Next Generation Industry Evolution</h1>
						<div class="slide-btn">
							<div class="property-btn">
								<a class="property-link btn btn-sec modal-link__signup" data-targeturl="@Url.Action("SignupPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-hands-helping"></i> Join Now</a>
							</div>
							<div class="property-btn">
								<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"><i class="fas fa-sign-in-alt"></i> Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>*@

	<!--=================================
	banner -->
	@*<section class="search-tab">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-contract font-xlll mb-4"></i>
							<h5 class="mb-3">Are You Searching For Work Space?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-1" cart-section="1" href="javascript:void(0)"><i class="fas fa-map-marker-alt"></i>Find</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-building-3 font-xlll mb-4"></i>
							<h5 class="mb-3">You Have A Space To Market?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-2" cart-section="2" href="javascript:void(0)"><i class="fas fa-list-ul"></i>List</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 mb-4 mb-sm-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-agent font-xlll mb-4"></i>
							<h5 class="mb-3">You Are A Realestate Professional?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-3" cart-section="3" href="javascript:void(0)"><i class="fas fa-user-tie"></i>Professional</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>*@

	<section class="section-card card-1" id="card-1">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-01.jpg" alt="hispace property listing"/>
				</div>
				<div class="col-md-6">
					<h2 class="text-pry m--0">Find or List Your Space</h2>
					<div class="head-caption">
						Find or List your commercial properties or co-working spaces
					</div>
					<div>
						<ul>
							<li>
								@*Find a Coworking Space <span>(Office, Cafe,..)</span>*@
								Are you looking for the perfect coworking workspaces to simply get work done?
							</li>
							<li>
								@*Find a Commercial Space <span>(Retail, Warehouse, Industries,..)</span>*@
								We understand your struggle to find the space at the right price range
							</li>
							<li>
								@*Find a Realestate Professionals <span>(Property Developer, Architecture,..)</span>*@
								We offer spaces which do what is required
							</li>
						</ul>
					</div>
					<div class="property-btn">
						<a class="property-link btn btn-primary" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 1 })">Click Here</a>
						@*<a class="property-link btn btn-sec modal-link__filter" data-targeturl="@Url.Action("FilterPartialView","Website")" href="javascript:function() { return false; }"> Click Here</a>*@
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-2" id="card-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 order-2 order-md-1">
					<h2 class="text-sec m--0">Find an Owner or Operator</h2>
					<div class="head-caption">
						You own properties or co-working spaces? List yourself
					</div>
					<div>
						<ul>
							<li>
								@*Coworking Space <span>(Office, Virtual, Shared,..)</span>*@
								Do you want to list your properties and spaces?
							</li>
							<li>
								@*Cafe Space*@
								We understand your struggle to manage operating costs, find new leads,track invoices and payments
							</li>
							<li>
								@*Commercial Space <span>(Retail, Warehouse, Industries,..)</span>*@
								We offer you the best real-estate professionals to get involved in your coworking spaces
							</li>
							@*<li>
									Shell Space <span>(Fully Furnished, Semi Furnished..)</span>
								</li>*@
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-sec" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 2 })">Click Here</a>
							@*<a class="property-link btn btn-info" href="@Url.Action("ListingTable","Listing",new { UserID = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>*@
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-sec" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 2 })">Click Here</a>
							@*<a class="property-link btn btn-info modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>*@
						</div>
					}
				</div>
				<div class="col-md-6 h-100 order-1 order-md-2">
					<img src="~/images/slider/image-02.jpg" alt="hispace operator listing"/>
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-3 mb-3 mb-md-0" id="card-3">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-03.jpg" alt="hispace reprofessionals listing"/>
				</div>
				<div class="col-md-6">
					<h2 class="text-info m--0">Find a Business Partner</h2>
					<div class="head-caption">
						Find a business partner to collaborate in your project
					</div>
					<div>
						<ul>
							<li>
								@*You want to get in work with RE players*@
								Are you looking to associate with interesting projects?
							</li>
							<li>
								@*You wish to list yourself for market*@
								Do you want to get involved in projects with leading coworking operators ?
							</li>
							@*<li>
									Realestate Professionals <span>(Property Developer, Co-working Architecture, Leasing, Interior Designer, Investor,..)</span>
								</li>*@
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-info" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 3 })">Click Here</a>
							@*<a class="property-link btn btn-primary" href="@Url.Action("ListingTable","Listing",new { UserID = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>*@
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-info" href="@Url.Action( "PropertyOperatorPeopleAndFilterMenu","Filter",new {ListShowType = 3 })">Click Here</a>
							@*<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>*@
						</div>
					}
				</div>
			</div>
		</div>
	</section>
	<!--=================================
	testimonial -->
	@*<section class="space-ptb">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="section-title">
							<h2>Testimonials</h2>
						</div>
						<div class="owl-carousel owl-nav-top-left" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
							<div class="item">
								<div class="testimonial-02">
									<div class="testimonial-content">
										<p><i class="fas fa-quote-right quotes"></i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
									</div>
									<div class="testimonial-author">
										<div class="testimonial-avatar avatar avatar-lg mr-3">
											<img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
										</div>
										<div class="testimonial-name">
											<h6 class="text-primary mb-1">Michael Bean</h6>
											<span>Hamilton Rd. Willoughby</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-02">
									<div class="testimonial-content">
										<p><i class="fas fa-quote-right quotes"></i>Jennifer & Dave were both instructive and very valuable in making my decision. I would Surly recommend them to anyone looking for a hassle free and efficient real estate experience.</p>
									</div>
									<div class="testimonial-author">
										<div class="testimonial-avatar avatar avatar-lg mr-3">
											<img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
										</div>
										<div class="testimonial-name">
											<h6 class="text-primary mb-1">Isabelle</h6>
											<span>West Division Street</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-5 mt-lg-0">
						<div class="owl-carousel owl-nav-center" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
							<div class="item">
								<div class="testimonial-02 testimonial-02-small">
									<div class="testimonial-content">
										<p><i class="fas fa-quote-right quotes"></i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
									</div>
									<div class="testimonial-author">
										<div class="testimonial-avatar avatar avatar-lg mr-3">
											<img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
										</div>
										<div class="testimonial-name">
											<h6 class="text-primary">Mikah Hargrove</h6>
											<span>Hamilton Rd. Willoughby</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-02 testimonial-02-small">
									<div class="testimonial-content">
										<p><i class="fas fa-quote-right quotes"></i>Jennifer & Dave were both instructive and very valuable in making my decision. I would Surly recommend them to anyone looking for a hassle free and efficient real estate experience.</p>
									</div>
									<div class="testimonial-author">
										<div class="testimonial-avatar avatar avatar-lg mr-3">
											<img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
										</div>
										<div class="testimonial-name">
											<h6 class="text-primary">Joana williams</h6>
											<span>Piper Drive Zion</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>*@
	<!--=================================
	testimonial -->
</div>