@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.PropertyOperatorPeopleAndFilterMenuViewModel

<div class="row filter-row operator-fstyle">
	<div class="col-sm-3 filter-select">
		@*<select class="form-control basic-select dd-filter operator_select">
		 <option value="tab-01">Property/Space</option>
		 <option selected value="tab-02">Owner/Operator</option>
		 <option value="tab-03">RE Professionals/People</option>
	</select>*@
	</div>
			<div class="col-sm-9 align-self-center operator-fstyle__form">
				<form class="form-row md-form" enctype="multipart/form-data" id="operator-form" method="post">	
					<div class="col-sm-9">
						<div class="row">
							<div class="form-group col-sm-6">
						<select class="form-control basic-select OperatorLocation" id="Op_Filter_CityName" name="CityName" 
								asp-items="@(new SelectList(ViewBag.ListOfOperatorsLocation, "OperatorLocation", "OperatorLocation"))"></select>
						<label for="select" class="control-label">City</label><i class="bar"></i>
					</div>
					<div class="form-group col-sm-6 OperatorName-Main">
						<select class="form-control basic-select OperatorName" id="Op_Filter_OperatorName" name="OperatorName" 
								asp-items="@(new SelectList(ViewBag.ListOfOperators, "CompanyName", "CompanyName"))"></select>
						<label for="select" class="control-label">Operator/Owner</label><i class="bar"></i>
					</div>
						</div>
					</div>
					
					
					<div class="col-sm-3 mt-sm-0 mt-3">
						<button type="button" id="operator-form-submit" class="btn btn-sec btn-block"><i class="fas fa-search-location"></i>Search</button>
					</div>
				</form>
			</div>
	</div>
<section class="filter-main__type">
	<div class="">
		<div class="row">
			<div class="col-lg-3 mb-5 mb-lg-0 display-sm-none">
				<div class="sidebar">
					<div class="widget">
						<a class="widget-head" href="javascript:void(0);" onclick="operatorListByAll();"><h6>All HiSpace-Users</h6></a>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">

							<a class="ml-auto" data-toggle="collapse" href="#property-location" role="button" aria-expanded="false" aria-controls="property-location"> <h6>Search By HiSpace-User</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div class="collapse show" id="property-location">
							<ul class="list-unstyled mb-0 pt-3">
								@foreach (var item in Model.OperatorSearchList)
								{
									if (item.PropertyListerInUseCount > 0)
									{
										<li><a href="javascript:void(0);" onclick="operatorListByUser('@item.UserId');">@item.CompanyName@*<span class="ml-auto">(Properties @item.PropertyListerInUseCount)</span>*@</a></li>
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9" id="filterOperatorResult">
				@Html.Partial("_OperatorFilterListPartialView", Model.Operators)
				
				@*<div class="property-item property-col-list mt-4">
			<div class="row no-gutters">
				<div class="col-lg-3 col-md-3 oper-image">
					<img class="oper-img" src="~/images/Upload/user/1/documents/_Logo.png"
						 data-holder-rendered="true">
				</div>
				<div class="col-lg-9 col-md-9 prop-details">
					<div class="property-details">
						<div class="property-details__head">
							<div class="property-details__header">MakeShift</div>
						</div>
						<div class="property-details__desc">
							With shared workspace available from as little as an hour, you only pay for the desks and time that you need. For a more long-term solution or upcoming project, you can also reserve dedicated desks for you and your team.
						</div>
						<div class="property-details__section">
							<div class="property-details__section-l">
								<div>
									<span class="property-span__head">Total Properties</span>
									<span class="property-span__type badge-sec">10</span>
								</div>
								<div>
									<span class="property-span__head">Commercial Properties</span>
									<span class="prop-count">(3)</span>
								</div>
								<div>
									<span class="property-span__head">Co-Working Properties</span>
									<span class="prop-count">(4)</span>
								</div>
								<div>
									<span class="property-span__head">NextSpace RE-Projects</span>
									<span class="prop-count">(3)</span>
								</div>
								<div>
									<span class="property-span__head">NextSpace Roles: </span>
									<span class="re-roles">Owner | Operator | Interior Design | Project Management</span>
								</div>
							</div>
							<div class="property-details__section-r">
								<div>
									<span class="property-span__head">Other Linked RE-Professionals</span>
									<span class="property-span__rent">(10)</span>
								</div>
								<div>
									<ul>
										<li>
											<a href="#">
												<span>Professional 1</span>
												<span>(Interior Design)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Professional 2</span>
												<span>(Project Management)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Professional 3</span>
												<span>(Leasing)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Professional 4</span>
												<span>(Interior Design)</span>
											</a>
										</li>
									</ul>
								</div>
							</div>


						</div>


						<div class="property-details__footer">
							<div class="property-details__address">
								<i class="fas fa-map-marker-alt fa-xs"></i>
								Flat 10,								<span class="property-span__head">chennai</span>, tamilnadu. <span class="property-span__head">600002</span>
							</div>
							<div class="property-details__total">

								<span class="property-span__tot">
									<i class="fas fa-envelope fa-xs"></i>nextspace@gmail.com
								</span>
								<span class="property-span__head"> | </span>
								<span class="property-span__occ">
									<i class="fas fa-mobile fa-xs"></i>9876543210
								</span>
							</div>
						</div>

					</div>
					<div class="property-btn">
						<a class="property-link btn btn-primary btn-block" href="/Website/PropertyDetail?ListingID=2">See Details</a>
					</div>
					<div class="tooltip-wrapper list-data__check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eco-Friendly Spaces click to see details"><i class="fas fa-check"></i></div>

				</div>

			</div>
		</div>*@
			</div>
		</div>
	</div>
</section>
