@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@using System.Collections.Generic;
@using HiSpaceListingWeb.Utilities;
@using HiSpaceListingService.ViewModel;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<HiSpaceListingService.ViewModel.PropertyOperatorResponse>


<div class="row">

	<div class="col-12 search-history" id="operatorSearchHistory">
		@{
			if (HttpContextAccessor.HttpContext.Session != null)
			{
				var operatorSearchCriteriaList = SessionExtension.GetObjectFromJson<List<OperatorSearchCriteria>>(HttpContextAccessor.HttpContext.Session, "operatorSearchCriteriaList");

				if (operatorSearchCriteriaList != null)
				{
					@*int count = propertySearchCriteriaList.Count();
						<p>@count</p>*@
					<div class="widget accordion-sec">
						<div class="widget-title widget-collapse">
							<a class="ml-auto oper-history" data-toggle="collapse" href="#operatorCollapse" role="button" aria-expanded="true"><h6><i class="fas fa-clock"></i>Operator Search History</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div id="operatorCollapse" class="collapse show">
							@foreach (var list in operatorSearchCriteriaList) 
							{

								<div class="form-row sh-data">
									<div class="col-11 sh-form_main sh-form_oper">
										<ul>
											<li class="Pr_Filter_id">@list.Id</li>
											@if (list.CityName == null)
											{
												<li>
													<span>City</span>
													<div class="Op_Filter_CityName">All</div>
												</li>
											}
											else
											{
												<li>
													<span>City</span>
													<div class="Op_Filter_CityName">@list.CityName</div>
												</li>
											}
											@if (list.OperatorName == null)
											{
												<li>
													<span>Operator</span>
													<div class="Op_Filter_OperatorName">All</div>
												</li>
											}
											else
											{
												<li>
													<span>Operator</span>
													<div class="Op_Filter_OperatorName">@list.OperatorName</div>
												</li>
											}
										</ul>
									</div>
									<div class="col-1">
										<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
											<a class="property-search-submit" href="javascript:void(0)" onclick="operatorSearchFunction(this);">
												<i class="fas fa-search-location btn-icon text-primary"></i>
											</a>
											@if (operatorSearchCriteriaList.Count() > 1 ) {
											<a class="property-search-submit" href="javascript:void(0)" onclick="operatorSearchHistoryRemove(this, @list.Id);">
												<i class="fas fa-trash-alt btn-icon text-danger"></i>
											</a>
											}
										</div>
										@*<button type="button" class="btn btn-primary btn-block property-search-submit" onclick="propertySearchFunction(this);"><i class="fas fa-search-location"></i>Search</button>*@
									</div>
								</div>
							}
						</div>
					</div>
				}

			}


		}

	</div>
</div>



@if (Model != null && Model.Count() != 0)
{

	var i = 0;
	<div class="result-count" id="opCount">Operator Filter Count : <span></span></div>
	<div class="paginate">
		<div class="pager">
			<div class="firstPage pager-icon">&laquo;</div>
			<div class="previousPage pager-icon">&lsaquo;</div>
			<div class="pageNumbers custom-scrollbar"></div>
			<div class="lastPage pager-icon">&raquo;</div>
			<div class="nextPage pager-icon">&rsaquo;</div>
		</div>
		<div class="page-items">
			@foreach (var item in Model)
			{
				@if (item.TotalCommercial != 0 || item.TotalCoWorking != 0 || item.TotalREProfessional != 0)
				{
					<div class="property-col-list operator-col-list">
						<div class="row no-gutters">
							<div class="col-lg-3 col-md-3 oper-image">

								@if (item.Operator.Doc_CompanyLogo != null)
								{
									<img class="oper-img" src="@item.Operator.Doc_CompanyLogo"
										 data-holder-rendered="true">
								}
								else
								{
									<img class="oper-img oper-img_placeholder" src="~/images/sample_jpeg.jpg"
										 data-holder-rendered="true">
								}
							</div>
							<div class="col-lg-9 col-md-9 prop-details">
								<div class="property-details">
									<div class="property-details__head">
										<div class="property-details__header">@item.Operator.CompanyName</div>
									</div>
									@*<div class="property-details__desc">

										</div>*@
									@if (ViewBag.UserId != null && ViewBag.UserId != -1)
									{
										ViewBag.BlurClass = "";
									}
									else
									{
										ViewBag.BlurClass = "list-blur";
									}
									<div class="@ViewBag.BlurClass">
										<div class="property-details__section">
											<div class="property-details__section-l">
												<div>
													<span class="property-span__head">Total Properties</span>
													<span class="property-span__type badge-sec">@(@item.TotalCommercial+@item.TotalCoWorking+@item.TotalREProfessional)</span>
												</div>


												@if (item.TotalCommercial > 0)
												{
													<div>
														<span class="property-span__head">Commercial Properties</span>
														<span class="prop-count">(@item.TotalCommercial)</span>
													</div>
												}

												@if (item.TotalCoWorking > 0)
												{
													<div>
														<span class="property-span__head">Co-Working Properties</span>
														<span class="prop-count">(@item.TotalCoWorking)</span>
													</div>
												}


												@if (item.TotalREProfessional > 0)
												{
													<div>
														<span class="property-span__head">RE-Professionals</span>
														<span class="prop-count">(@item.TotalREProfessional)</span>
													</div>
												}

												@if (item.roles.Any())
												{
													<div>
														<span class="property-span__head">@item.Operator.CompanyName Roles: </span>
														@foreach (var role in item.roles)
														{
															<span class="re-roles">@role</span>
														}
													</div>

												}

											</div>
											<div class="property-details__section-r">
												@if (item.LinkedREProf.Any())
												{

													<div>
														<span class="property-span__head">Other Linked RE-Professionals</span>
														<span class="property-span__rent">(@item.LinkedREProfCount)</span>
													</div>
													<div>
														<ul>
															@foreach (var ReProf in item.LinkedREProf)
															{
																<li>
																	<a href="@Url.Action("PeopleDetailListByListingId", "Detail", new { ListingId = ReProf.ReProfessional_ListingId })">
																		<span>@ReProf.REFirstName @ReProf.RELastName</span>
																		<span>(@ReProf.ProjectRole)</span> -
																		<span>@ReProf.ProjectName</span>
																	</a>
																</li>
															}

														</ul>
													</div>
												}
												else
												{
													<div>
														<span class="property-span__head">Other Linked RE-Professionals</span>
														@*<span class="property-span__rent">(@item.LinkedREProfCount)</span>*@
													</div>
													<div>
														<ul>

															<li>
																No RE-Professionals Linked
															</li>
														</ul>
													</div>
												}

											</div>




										</div>
										<div class="property-details__footer">

											<div class="property-details__address">
												<i class="fas fa-map-marker-alt fa-xs"></i>
												@item.Operator.Address
											</div>
											<div class="property-details__total">

												<span class="property-span__tot">
													<i class="fas fa-envelope fa-xs"></i>@item.Operator.Email
												</span>
												<span class="property-span__head"> | </span>
												<span class="property-span__occ">
													<i class="fas fa-mobile fa-xs"></i>@item.Operator.Phone
												</span>
												@if (item.Operator.Website != null)
												{
													<div class="property-details__address">
														<i class="fas fa-globe fa-xs"></i>
														@*<a href="@item.Operator.Website" target="_blank">*@
														@item.Operator.Website
														@*</a>*@
													</div>
												}
											</div>
										</div>
										<div class="list-blur__background">
											<div class="list-blur__btn">
												<a class="property-link btn btn-outline-info modal-link__login obs-center" data-targeturl="@Url.Action("LoginPartialView","User",new { returnUrl = "/Detail/SelectOperatorPropertyList?User="+@item.Operator.UserId+""})" href="javascript:function() { return false; }">Join to view the detail</a>
											</div>
										</div>
									</div>
								</div>
								<div class="property-btn">
									@if (ViewBag.UserId != null && ViewBag.UserId != -1)
									{
										<a class="property-link btn btn-primary btn-block" href="@Url.Action("SelectOperatorPropertyList", "Detail", new { User = item.Operator.UserId })">See Details</a>
									}
									else
									{
										<a class="property-link btn btn-primary btn-block modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User",new { returnUrl = "/Detail/SelectOperatorPropertyList?User="+@item.Operator.UserId+""})" href="javascript:function() { return false; }">See Details</a>
									}
								</div>
								<div class="tooltip-wrapper list-data__check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eco-Friendly Spaces click to see details"><i class="fas fa-check"></i></div>

							</div>

						</div>
					</div>
					i++;
					<p class="display-none operatorCount">@i</p>
				}

			}
		</div>
		<div class="pager">
			<div class="firstPage pager-icon">&laquo;</div>
			<div class="previousPage pager-icon">&lsaquo;</div>
			<div class="pageNumbers custom-scrollbar"></div>
			<div class="nextPage pager-icon">&rsaquo;</div>
			<div class="lastPage pager-icon">&raquo;</div>
		</div>
	</div>


}
else
{
	<div class="no-result">
		<div class="no-result__head">
			Operator/Owner
		</div>
		<div class="no-result__search">
			Please select any/other filter options <span class="bg-sec"><i class="fas fa-search-location"></i>Search</span> to get the data
		</div>
		<div class="no-result__image">
			<span class="icon fab flaticon-building-3"></span>
		</div>
		<div>
			No List Available
		</div>
	</div>
}