@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@using System.Collections.Generic;
@using HiSpaceListingWeb.Utilities;
@using HiSpaceListingService.ViewModel;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.PropertyOperatorPeopleAndFilterMenuViewModel
@*serach history*@
@{ 

}

<div class="row" id="propertySearchHistoryMove">

</div>

<div class="row filter-row property-fstyle">
	<div class="col-sm-3 filter-select">
		@*<select class="form-control basic-select dd-filter property_select">
			 <option selected value="tab-01">Property/Space</option>
			 <option value="tab-02">Owner/Operator</option>
			 <option value="tab-03">RE Professionals/People</option>
		</select>*@
	</div>
<div class="col-sm-9 align-self-center property-fstyle__form">
				<form class="form-row md-form" enctype="multipart/form-data" id="property-form" method="post">	
					
					<div class="col-sm-9"> 
						<div class="row">
							<div class="form-group col-sm-4">
								<select class="form-control basic-select" id="Pr_Filter_For" name="CMCW_PropertyFor">
									<option value="All">All</option>
									<option value="Rental">Rental</option>
									<option value="Sale">Sale</option>
								</select>
								<label for="select" class="control-label">Search For</label><i class="bar"></i>
							</div>
							<div class="form-group col-sm-4 ListType-Main">
								<select class="form-control basic-select ListingType" id="pr_Filter_ListingType" name="ListingType" 
										asp-items="@(new SelectList(ViewBag.ListOfListingType, "ListingTypeName", "ListingTypeName"))"></select>
								<label for="select" class="control-label">Listing Type</label><i class="bar"></i>
							</div>
							<div class="form-group col-sm-4 CommercialCategory-Main display-none">
								<select class="form-control basic-select CommercialType" id="pr_Filter_CommercialCategory" name="CommercialType" 
										asp-items="@(new SelectList(ViewBag.ListOfCommercialType, "CommercialCategoryName", "CommercialCategoryName"))"></select>
								<label for="select" class="control-label">Commercial Category</label><i class="bar"></i>
							</div>
							<div class="form-group col-sm-4 CoworkingCategory-Main display-none">
								<select class="form-control basic-select CoworkingType" id="pr_Filter_CoworkingCategory" name="CoworkingType" 
										asp-items="@(new SelectList(ViewBag.ListOfCoworkingType, "CoworkingCategoryName", "CoworkingCategoryName"))"></select>
								<label for="select" class="control-label">Coworking Category</label><i class="bar"></i>
							</div>
							<div class="form-group col-sm-4 PropertyLocation-Main">
								<select class="form-control basic-select Locality" id="pr_Filter_PropertyLocation" name="Locality" 
										asp-items="@(new SelectList(ViewBag.ListOfPropertyLocation, "PropertyLocation", "PropertyLocation"))"></select>
								<label for="select" class="control-label">City</label><i class="bar"></i>
							</div>
							<div class="col-sm-4 property-available display-none">
								<div class="d-flex flex-sm-row flex-column">
									<div class="checkbox-group gb-checkbox available-checkbox">
										<div class="checkbox-items">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="pr_Filter_hour" />
													<i class="helper"></i><span class="gb-checkbox__label">Hour</span>
												</label>
											</div>
										</div>
									</div>
									<div class="checkbox-group gb-checkbox available-checkbox">
										<div class="checkbox-items">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="pr_Filter_day" />
													<i class="helper"></i><span class="gb-checkbox__label">Day</span>
												</label>
											</div>
										</div>
									</div>
									<div class="checkbox-group gb-checkbox available-checkbox">
										<div class="checkbox-items">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="pr_Filter_month" />
													<i class="helper"></i><span class="gb-checkbox__label">Month</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 slider-labels__main">
							  <div class="row">
								  <span class="mb-3 price-lable">Price/Rent Range</span>
								<div class="col-sm-12">
								  <div id="slider-range"></div>
								</div>
							  </div>
							  <div class="row slider-labels">
								<div class="col-6 caption">
								  <strong>Min:</strong> <span id="slider-range-value1"></span>
								</div>
								<div class="col-6 text-right caption">
								  <strong>Max:</strong> <span id="slider-range-value2"></span>
								</div>
							  </div>
							  <div class="row">
								<div class="col-sm-12">
									<input type="hidden" name="min-value" value="">
									<input type="hidden" name="max-value" value="">
									<input type="hidden" name="PriceMin" value="">
									<input type="hidden" name="PriceMax" value="">
								</div>
							  </div>
							</div>
							<div class="col-sm-12">
								<div class="d-flex flex-sm-row flex-column">
										<div class="checkbox-group gb-checkbox">
											<div class="checkbox-items">
												<div class="checkbox">
													<label>
														<input type="checkbox" id="pr_Filter_healthCheck" />
														<i class="helper"></i><span class="gb-checkbox__label">Health Check (Self Rated) <i class="fas fa-temperature-low btn-icon text-sec"></i> <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="About Building Health: Air Quality, Temperature, Humidity, Co2, PM2.5, Moisture">?</span></span>
													</label>
												</div>
											</div>
										</div>
										<div class="checkbox-group gb-checkbox">
											<div class="checkbox-items">
												<div class="checkbox">
													<label>
														<input type="checkbox" id="pr_Filter_greenBuilding" />
														<i class="helper"></i><span class="gb-checkbox__label">Green Building Check (Self Rated) <i class="fas fa-tree btn-icon text-sec"></i> <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Green Building Data: Site & Facility Management, Health & Comfort, Water Efficiency, Energy Efficiency">?</span></span>
													</label>
												</div>
											</div>
										</div>
								</div>
								@*<div class="col-sm-12 self-value">
									* Self rated values
								</div>*@
							</div>
						</div>
					</div>
					
					<div class="col-sm-3 mt-sm-0 mt-3">
						<button type="button" id="property-form-submit" onclick="propertyFromSearchMethod(1);" class="btn btn-primary btn-block"><i class="fas fa-search-location"></i>Search</button>
					</div>
				</form>
			</div>
	</div>
<section class="filter-main__type">
	<div class="">
		<div class="row">
			<div class="col-lg-3 mb-5 mb-lg-0 display-sm-none">
				<div class="sidebar">
					<div class="widget">
						<a class="widget-head" href="javascript:void(0);" onclick="propertyListByAll(1);"><h6>All Properties</h6></a>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">

							<a class="ml-auto" data-toggle="collapse" href="#property-location" role="button" aria-expanded="false" aria-controls="property-location"> <h6>Search By Location</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div class="collapse show" id="property-location">
							<ul class="list-unstyled mb-0 pt-3">
								@foreach (var item in Model.PropertyLocationSearchList)
								{
									@*<li><a href="@Url.Action( "PropertyListByLocation","Filter",new { Location = @item.locality})">@item.locality<span class="ml-auto">(@item.localityInUseCount)</span></a></li>*@
									<li><a href="javascript:void(0);" onclick="propertyListByLocation('@item.locality',1);">@item.locality@*<span class="ml-auto">(@item.localityInUseCount)</span>*@</a></li>

								}
								@*<li><a href="#">Commercial<span class="ml-auto">(50)</span></a></li>
					<li><a href="#">Co-working<span class="ml-auto">(35)</span></a></li>
					<li><a href="#">Re-Professional<span class="ml-auto">(20)</span></a></li>*@
							</ul>
						</div>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">

							<a class="ml-auto" data-toggle="collapse" href="#property-type" role="button" aria-expanded="false" aria-controls="property-type"><h6>Search By Type</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div class="collapse show" id="property-type">
							<ul class="list-unstyled mb-0 pt-3">
								@foreach (var item in Model.PropertyTypeSearchList)
								{
									@if (item.PropertyType == "RE-Professional")
									{

									}
									else
									{
										<li><a href="javascript:void(0);" onclick="propertyListByType('@item.PropertyType', 1);">@item.PropertyType@*<span class="ml-auto">(@item.PropertyTypeInUseCount)</span>*@</a></li>
									}
								}
							</ul>
						</div>
					</div>
					@*<div class="widget">
			<div class="widget-title widget-collapse">

				<a class="ml-auto" data-toggle="collapse" href="#property-level" role="button" aria-expanded="false" aria-controls="property-level"><h6>property Level</h6> <i class="fas fa-chevron-down"></i> </a>
			</div>
			<div class="collapse show" id="property-level">
				<ul class="list-unstyled mb-0 pt-3">
					@foreach (var item in Model.PropertyLevelSearchList)
					{
						<li><a href="#">@item.PropertyLevel<span class="ml-auto">(@item.PropertyLevelInUseCount)</span></a></li>
					}
				</ul>
			</div>
		</div>*@
					<div class="widget">
						<div class="widget-title widget-collapse">

							<a class="ml-auto" data-toggle="collapse" href="#property-lister" role="button" aria-expanded="false" aria-controls="property-lister"><h6>Search By Operator/Owner</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div class="collapse show" id="property-lister">
							<ul class="list-unstyled mb-0 pt-3">
								@foreach (var item in Model.PropertyListerSearchList)
								{
									if (item.PropertyListerInUseCount > 0)
									{
										<li><a href="javascript:void(0);" onclick="propertyListByUser('@item.UserId',1);">@item.CompanyName@*<span class="ml-auto">(@item.PropertyListerInUseCount)</span>*@</a></li>
									}
								}
							</ul>
						</div>
					</div>
					@*<div class="widget">
			<div class="widget-title widget-collapse">

				<a class="ml-auto" data-toggle="collapse" href="#filter-property" role="button" aria-expanded="false" aria-controls="filter-property"> <h6>Advanced filter</h6> <i class="fas fa-chevron-down"></i> </a>
			</div>
			<div class="collapse show" id="filter-property">
				<form class="mt-3 md-form">
					<div class="form-group m-b--0">
						<select class="form-control basic-select" id="filter-type">
							<option value="Commercial">Commercial</option>
							<option value="Co-working">Co-working</option>
							<option value="RE-Professionals">RE-Professionals</option>
						</select>
						<label for="select" class="control-label">Category</label><i class="bar"></i>
					</div>
					<div class="form-group m--0 filter-checkbox v1">
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Retail
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Industry
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Warehouse
							</label>
						</div>
					</div>
					<div class="form-group m--0 filter-checkbox v2">
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Office
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Team
							</label>
						</div>
					</div>
					<div class="form-group price_range">
						<div class="property-price-slider ">
							<label>Price Range</label>
							<input type="text" id="property-price-slider" name="example_name" value="" />
						</div>
					</div>
					<div class="form-group filter-checkbox v3">
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Property Developer
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Leasing
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Interior Designer
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Co-working Architecture
							</label>
						</div>
						<div class="checkbox m--0">
							<label>
								<input type="checkbox" /><i class="helper"></i>Investor
							</label>
						</div>
					</div>
					<div class="input-group mb-2">
						<button class="btn btn-primary btn-block align-items-center" type="submit"><i class="fas fa-filter mr-1"></i><span>Filter</span></button>
					</div>
				</form>
			</div>
		</div>*@


				</div>
			</div>
			<div class="col-lg-9" id="filterPropertyResult">
				@Html.Partial("_PropertyFilterListPartialView", Model.Listings)
			</div>
		</div>
	</div>
</section>


