@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.PropertyOperatorPeopleAndFilterMenuViewModel
<div class="row filter-row people-fstyle">
	<div class="col-sm-3 filter-select">
		@*<select class="form-control basic-select dd-filter people_select">
		 <option value="tab-01">Property/Space</option>
		 <option value="tab-02">Owner/Operator</option>
		 <option selected value="tab-03">RE Professionals/People</option>
	</select>*@
	</div>
			<div class="col-sm-9 align-self-center people-fstyle__form">
				<form class="form-row md-form" enctype="multipart/form-data" id="people-form" method="post">	
					<div class="col-sm-9">
						<div class="row">
							<div class="form-group col-sm-4">
						<select class="form-control basic-select PeopleRole" id="Pe_Filter_Role" name="Role" 
								asp-items="@(new SelectList(ViewBag.ListOfProfessionalCategory, "ProfessionalCategoryName", "ProfessionalCategoryDisplay"))"></select>
						<label for="select" class="control-label">Role</label><i class="bar"></i>
					</div>
					<div class="form-group col-sm-4 PeopleLocation-Main">
								<select class="form-control basic-select PeopleLocation" id="pe_Filter_PeopleLocation" name="Locality" 
										asp-items="@(new SelectList(ViewBag.ListOfPeopleLocation, "PropertyLocation", "PropertyLocation"))"></select>
								<label for="select" class="control-label">City</label><i class="bar"></i>
							</div>
					<div class="form-group col-sm-4 PeopleName-Main">
						<select class="form-control basic-select PeopleName" id="Pe_Filter_People" name="RE_FullName" 
								asp-items="@(new SelectList(ViewBag.ListOfPeople, "RE_FullName", "RE_FullName"))"></select>
						<label for="select" class="control-label">People Name</label><i class="bar"></i>
					</div>
						</div>
					</div>
					
					<div class="col-sm-3 mt-sm-0 mt-3">
						<button type="button" id="people-form-submit" class="btn btn-info btn-block"><i class="fas fa-search-location"></i>Search</button>
					</div>
				</form>
			</div>
	</div>
<section class="filter-main__type">
	<div class="">
		<div class="row">
			<div class="col-lg-3 mb-5 mb-lg-0 display-sm-none">
				<div class="sidebar">
					<div class="widget">
						<a class="widget-head" href="javascript:void(0);" onclick="peopleListByAll();"><h6>All People</h6></a>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">

							<a class="ml-auto" data-toggle="collapse" href="#property-location" role="button" aria-expanded="false" aria-controls="property-location"> <h6>Search by People</h6> <i class="fas fa-chevron-down"></i> </a>
						</div>
						<div class="collapse show" id="property-location">
							<ul class="list-unstyled mb-0 pt-3">
								@foreach (var item in Model.PeopleNameSearchResponseList)
								{
									if (item.ProjectCount > 0)
									{
										<li><a href="javascript:void(0);" class="text-capitalize" onclick="peopleListByUser('@item.ListingId');">@item.RE_FirstName - @item.RE_LastName@*<span class="ml-auto">(Projects @item.ProjectCount)</span>*@</a></li>
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9" id="filterProfessionalResult">
				@Html.Partial("_ProfessionalFilterListPartialView", Model.People)
				
				@*<div class="property-item property-col-list mt-4">
			<div class="row no-gutters">
				<div class="col-lg-12 col-md-12 prop-details">
					<div class="property-details">
						<div class="row">
							<div class="people-details__head col-sm-6">
								<div class="people-details__head-logo">PL</div>
								<div class="property-details__header">Professional2 Lastname</div>
							</div>
							<div class="property-details__role col-sm-6 align-self-center">
								<div>Operator Name: <span class="property-details__role-name">NextSpace</span></div>
								<div>Role: <span class="property-details__role-type">Owner | Operator | Interior Design | Project Management</span></div>
							</div>
						</div>
						<div class="people-details__section">
							<div class="people-projects">
								<span class="property-span__head">Total Projects</span>
								<span class="property-span__type badge-sec">10</span>
							</div>
							<div class="property-detail-img popup-gallery people-image__carousel">
								<div class="owl-carousel owl-theme owl-loaded carousel-People">
									<div class="owl-stage-outer">
										<div class="owl-stage">
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/list/01.jpg">
													<img class="img-fluid" src="~/images/property/grid/01.jpg" alt="">
												</a>
												<div class="people-image__type">Owner</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/02.jpg">
													<img class="img-fluid" src="~/images/property/grid/02.jpg" alt="">
												</a>
												<div class="people-image__type">Interior Designer</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/03.jpg">
													<img class="img-fluid" src="~/images/property/grid/03.jpg" alt="">
												</a>
												<div class="people-image__type">Investor</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/04.jpg">
													<img class="img-fluid" src="~/images/property/grid/04.jpg" alt="">
												</a>
												<div class="people-image__type">Leasing</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/05.jpg">
													<img class="img-fluid" src="~/images/property/grid/05.jpg" alt="">
												</a>
												<div class="people-image__type">Property Developer</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/06.jpg">
													<img class="img-fluid" src="~/images/property/grid/06.jpg" alt="">
												</a>
												<div class="people-image__type">Co-working</div>
											</div>
											<div class="owl-item">
												<a class="portfolio-img" href="~/images/property/grid/07.jpg">
													<img class="img-fluid" src="~/images/property/grid/07.jpg" alt="">
												</a>
												<div class="people-image__type">Owner</div>
											</div>
										</div>
									</div>
								</div>
								<div class="people-operator">
									<div class="people-operator__head">Linked Operators with us</div>
									<div class="people-operator__list">
										<img class="oper-img" src="/images/Upload/user/1/documents/_Logo.png" data-holder-rendered="true">
										<div>NextSpace</div>
									</div>
									<div class="people-operator__list">
										<img class="oper-img" src="/images/Upload/user/1/documents/_Logo.png" data-holder-rendered="true">
										<div>MakeShift</div>
									</div>
								</div>
							</div>

							<div class="property-details__footer">
								<div class="property-details__address">
									<i class="fas fa-map-marker-alt fa-xs"></i>
									Flat 10,								<span class="property-span__head">chennai</span>, tamilnadu. <span class="property-span__head">600002</span>
								</div>
								<div class="property-details__total">

									<span class="property-span__tot">
										<i class="fas fa-envelope fa-xs"></i>nextspace@gmail.com
									</span>
									<span class="property-span__head"> | </span>
									<span class="property-span__occ">
										<i class="fas fa-mobile fa-xs"></i>9876543210
									</span>
								</div>
							</div>

						</div>
						<div class="">
							<a class="property-link btn btn-primary btn-block" href="/Website/PropertyDetail?ListingID=2">See Details</a>
						</div>
						<div class="tooltip-wrapper list-data__check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eco-Friendly Spaces click to see details"><i class="fas fa-check"></i></div>

					</div>

				</div>
			</div>
		</div>*@
			</div>
	</div>
		</div>
</section>
