
@{
	ViewData["Title"] = "UserEnquiries";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}
@model IEnumerable<HiSpaceListingService.ViewModel.EnquiryListResponse>

@{
	ViewBag.RequestedType = Context.Request.Query["Type"];

}
@*test*@
<div class="UserEnquiries nav-padding">
	<div class="bg-light mb-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action( "Index","Website")"> <i class="fas fa-home"></i> </a></li>

						@if (ViewBag.UserId != null && ViewBag.UserId > 0)
						{
							@if (ViewBag.RequestedType == "My")
							{
								<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>My Enquiries</span></li>
							}else if(ViewBag.RequestedType == "User")
							{
								<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Recived Enquiries</span></li>
							}
							
						}
					</ol>
				</div>
			</div>
		</div>
	</div>

	<section class="">
		<div class="container p-0">
			<div class="row no-gutters">
				<div class="col-md-12">
					<div class="section-title d-flex align-items-center m--tb-15">
						@if (ViewBag.RequestedType == "My")
						{
							<h2 class="text-break mx-sm-0 mx-2">My Enquiries</h2>
						}else if(ViewBag.RequestedType == "User")
						{
							<h2 class="text-break mx-sm-0 mx-2">Recived Enquiries</h2>
						}
						
					</div>
					<div class="card hi-card">
						<div class="card-body">
							<div class="datatable-wrapper table-responsive">
								<table id="userEnquiry" class="display display compact table table-striped mdtable">
									<thead>
										<tr>
											@if (ViewBag.RequestedType == "My")
											{
												<th>HiSpace-User</th>
												<th>Requested Property</th>
												<th>Property Type</th>
												<th>Date of Enquiry</th>
												<th>Message</th>
											}else if(ViewBag.RequestedType == "User")
											{
												<th>Requested Property</th>
												<th>Name</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Date of Enquiry</th>
												<th>Message</th>
											}
										</tr>
									</thead>
									<tbody>
										@if (ViewBag.RequestedType == "My")
											{
												@foreach (var item in Model)
												{
													<tr>
														<td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
														<td>@Html.DisplayFor(modelItem => item.PropertyName)</td>
														<td>@Html.DisplayFor(modelItem => item.Type)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.CreatedDateTime)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.Sender_Message)</td>
													</tr>
												}
											}
										else if(ViewBag.RequestedType == "User")
											{
												@foreach (var item in Model)
												{
													<tr>
														<td>@Html.DisplayFor(modelItem => item.PropertyName)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.Sender_Name)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.Sender_Phone)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.Sender_Email)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.CreatedDateTime)</td>
														<td>@Html.DisplayFor(modelItem => item.Enquiry.Sender_Message)</td>
													</tr>
												}
											}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


