@{
	ViewData["keywords"] = "Home For Property, Operator, ReProfessionals";
	string ListShowType = Context.Request.Query["ListShowType"];

	if(ListShowType == "1")
	{
		ViewData["Title"] = "Search Result for HiSpace Property";
		ViewData["canonical"] = "https://www.thehispace.com/Filter/PropertyOperatorPeopleAndFilterMenu?ListShowType=1";
		ViewData["description"] = "Can search all properties with commercial and coworking. With all amenities, facilities best in market";
	}
	else if (ListShowType == "2")
	{
		ViewData["Title"] = "Search Result for HiSpace Operator";
		ViewData["canonical"] = "https://www.thehispace.com/Filter/PropertyOperatorPeopleAndFilterMenu?ListShowType=2";
		ViewData["description"] = "Can search all operator and builders for your projects. List your own properties or co-working spaces";
	}
	else if(ListShowType == "3")
	{
		ViewData["Title"] = "Search Result for HiSpace REProfessionals";
		ViewData["canonical"] = "https://www.thehispace.com/Filter/PropertyOperatorPeopleAndFilterMenu?ListShowType=3";
		ViewData["description"] = "Can search all real estate professionals for your project. Also Find a business partner to collaborate in your project";
	}
	else
	{
		ViewData["Title"] = "Search Result for HiSpace Property ,Operator and REProfessionals";
		ViewData["description"] = "Can Search all properties with commercial and coworking, search all operator and builders, search all real estate professionals for your project. More with the hispace investor";
	}



	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}
@model HiSpaceListingWeb.ViewModel.PropertyOperatorPeopleAndFilterMenuViewModel

<div class="property-list nav-padding container">
	<div class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!--<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Website")"> <i class="fas fa-home"></i> </a></li>-->
						@*<li class="breadcrumb-item"><i class="fas fa-chevron-right"></i><a href="@Url.Action( "PropertyList","Website")"> All Property List </a></li>*@
						<!--<li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <span> HiSpace List </span></li>
						<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Properties/Operator/Owner/Professional </span></li>
					</ol>-->
				</div>
			</div>
		</div>
	</div>
	@*Nav bar section*@
	<ul class="nav nav-tabs nav-tabs-02 display-none" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link page-nav active" id="tab-01-tab" data-toggle="tab" href="#tab-01" role="tab" aria-controls="tab-01" aria-selected="true"><span class="icon fab flaticon-building"></span> Property/Space</a>
		</li>
		<li class="nav-item">
			<a class="nav-link page-nav" id="tab-02-tab" data-toggle="tab" href="#tab-02" role="tab" aria-controls="tab-02" aria-selected="false"><span class="icon fab flaticon-building-3"></span> Owner/Operator</a>
		</li>
		<li class="nav-item">
			<a class="nav-link page-nav" id="tab-03-tab" data-toggle="tab" href="#tab-03" role="tab" aria-controls="tab-03" aria-selected="false"><span class="icon fab flaticon-agent"></span> RE Professionals/People</a>
		</li>
	</ul>
	
	<div class="tab-content" id="myTabContent">
		@*property list*@
		<div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab-01-tab">
			@Html.Partial("_PropertyMainListPartialView", Model)
		</div>
		@*operator list*@
		<div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab-02-tab">
			@Html.Partial("_OperatorMainListPartialView", Model)
		</div>
		@*people list*@
		<div class="tab-pane fade" id="tab-03" role="tabpanel" aria-labelledby="tab-03-tab">
			@Html.Partial("_ProfessionalMainListPartialView", Model)
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/customSlider.js"></script>
	<script src="~/js/CustomFilters.js"></script>
	<script>
		$(document).on('change', '.dd-filter:visible', function () {    
			$(".filter-main__type:visible").append("<div class='loader_new-sub'></div>");
			var value_selected = $(".dd-filter:visible option:selected").val();
			//console.log(value_selected)
			$('#myTab li').find('a[href="#' + value_selected + '"]').trigger('click');
			$('.filter-select').empty();
			if (value_selected == "tab-01") {
				$('.filter-select').append('<select class="form-control basic-select dd-filter property_select">'
					+ '<option selected value="tab-01">Property/Space</option>'
					+ '<option value="tab-02">Owner/Operator</option>'
					+ '<option value="tab-03">RE Professionals/People</option>'
					+ '</select>');
				$('.dd-filter').select2();
				$("#propertySearchHistory").appendTo("#propertySearchHistoryMove");
			} else if (value_selected == "tab-02") {
				$('.filter-select').append('<select class="form-control basic-select dd-filter operator_select">'
					+ '<option value="tab-01">Property/Space</option>'
					+ '<option selected value="tab-02">Owner/Operator</option>'
					+ '<option value="tab-03">RE Professionals/People</option>'
					+ '</select>');
				$('.dd-filter').select2();
				$("#operatorSearchHistory").prependTo("#operatorSearchHistoryMove");
			} else if (value_selected == "tab-03") {
				$('.filter-select').append('<select class="form-control basic-select dd-filter people_select">'
					+ '<option value="tab-01">Property/Space</option>'
					+ '<option value="tab-02">Owner/Operator</option>'
					+ '<option selected value="tab-03">RE Professionals/People</option>'
					+ '</select>');
				$("#peopleSearchHistory").prependTo("#peopleSearchHistoryMove");
				$('.dd-filter').select2();
			}
			removeLoader();
		})

		//property pagination
		
	</script>
}


